<html>
    <head>
        <title>Savings</title>
    </head>
    <body>
        <h1> Savings Calculator</h2>
        	<br>
        	<br>
        	<br>
        	<table>
        		<form method = "POST"></form>
        		<input type = "hidden" name= "" value= "">
        		<tbody>
        			<tr>
        				<td>
        					<label> Initial Capital:</label>

        				<input type= "text" name= "initial" value="1000.0">
        				</td>
        			</tr> 
<br>
        			<tr>
        				<td>
        					<label> Number of Years:</label>
        				
        				<input type= "text" name= "years" value="5">
        				</td>
        			</tr>
<br>
        			<tr>
        				<td>
        					<label> Interest Rate (annual):</label>
        				
        				<input type= "text" name= "rate" value="3.5">
        				</td>
        			</tr>  

        			<td> 
        				<input type = "submit">
        			</td>
<br>
        		</tr>

        	</tbody>

        </table>
<br> 

<h2> Capitaal at the end of 5 years: 1190.94</h2>
<h3>

"Check Previous queries"
<a herf= "/queries">here</a>
</h3>
</body>
</html>  


   